@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@300&family=Playfair+Display:ital@1&display=swap');

.Home-Box {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)) , url("Images/DiningTable.jpg") no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  float: right;
  border: 2px solid white;
  justify-content: space-between;
  border-radius: 20px;
  font-family: "Noto Sans",sans-serif;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 120px;
}
nav ul li {
  margin: 20px;
  font-size: 30px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li:hover{
  background-color: #333;
  
}
.Home-Header h1{
  font-family: "Montserrat",sans-serif;
  font-size: 200px;
  color: white;
}
.Home-Header h1 a {
  text-decoration: none;  
  color: white;
}
.home-content {
  float: left;
  margin-top: 100px;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 80px;
}
.home-content p {
  color: white;
  font-size: 23px;
  font-family: "Noto Sans",sans-serif;
  font-weight: 400;
  padding: 30px;
}
.home-content img {
  height: 700px;
  width: 700px;
  float: right;
  border-radius: 80px;
}
.home-content h2 {
  padding: 20px;
  font-family: "Playfair Display",sans-serif;
  font-style: italic;
  font-size: 40px;
  color: yellow;
}
.home-content h3 {
  font-family: "Playfair Display",sans-serif;
  color: yellow;
  justify-content: center;
  align-items: center;
}

.landing-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  position: absolute;
  z-index: -3;
}

.landing-header p {
  color: red;
}

.landing-header p a {
  color: red;
  text-shadow: 5px 5px 5px rgb(255, 255, 255);
}

.landing-header p a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #f2f2f2;
  padding: 5px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
}

.Booking-Box {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)) , url("Images/Booking-Image.jpg") no-repeat;
  background-size: cover;
}
.Booking-Header h1{
  font-family: "Montserrat",sans-serif;
  font-size: 200px;
  color: white;
}
.Booking-Header h1 a {
  text-decoration: none;  
  color: white;
}
.form-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container label,
.form-container input,
.form-container button {
  display: block;
  margin-bottom: 10px;
  font-family: "Montserrat",sans-serif;
  font-size: 30px;
  padding: 10px;
}

.form-container input[type="text"],
.form-container input[type="date"] {
  width: 100%;
  padding: 5px;
  font-family: "Montserrat",sans-serif;
  font-size: 30px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}
.form-container label{
  color: white;
  font-family: "Montserrat",sans-serif;
  font-size: 30px;
}
.Booking-Content h2{
  color: white;
  font-size: 60px;
  font-family: "Playfair Display",sans-serif;
}
.Booking-Content {
  text-align: center;
  margin-top: 50px;
}
.form-container {
  width: 800px;
  max-width: 100%;
  padding: 20px;
  margin-top: 30px;
  background-color: #333  ;
  border-radius: 20px;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Menu-Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 20px;
  margin: 40px;
  border-radius: 80px;
  list-style: none;
  color: white;
}
.Menu-List {
  list-style: none;
}
.Menu-Container h1 {
  font-size: 110px;
  font-family: "Montserrat",sans-serif;
  text-decoration: underline;
}
.Menu-Container p {
  font-size: 15px;
  font-family: "Montserrat",sans-serif;
}
.Menu-Container h2 {
  font-size: 40px;
  font-family: "Playfair Display",sans-serif;
}
.contacts {
  font-family: "Noto Sans", sans-serif;
  text-align:center;
  background-color: rgba(51, 51, 51, 0.5);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.contacts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contacts li {
  margin-bottom: 20px;
}

.contacts h2 {
  font-size: 100px;
  margin-bottom: 5px;
  color: white;
}

.contacts li p {
  font-size: 40px;
  margin-top: 0;
  color:white;
  font-family: "Noto Sans",sans-serif;
}

.contacts .location {
  margin-top: 10px;
  font-weight: bold;
}

.contacts .table-container {
  margin-top: 20px;
}

.contacts table {
  border-collapse: collapse;
  color:white
}

.contacts th,
.contacts td {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 100px;
}

.contacts th {
  font-weight: bold;
  font-size: 50px;
}

@media (max-width: 768px) {
nav {
  flex-direction: column;
  align-items: center
}
nav ul {
  flex-direction: row; 
  justify-content: center; 
  flex-wrap: wrap;
   gap: 10px;
 }
nav ul li {
  margin: 10px;
}
header p {
  font-size: 14px;
}
}
